html, body {
	Zbackground-color: #eee;
}
:focus {
  outline: none;
}

.jumbotron {
	background-image: url("../images/dmitriy-sladkov-timebridge-4.jpg");
	background-size: cover;
	background-position: center;
	color: #f42;
	text-shadow: 1px 0 0 #fa5, -1px 0 0 #fa5, 0 1px 0 #fa5, 0 -1px 0 #fa5, 1px 1px #fa5, -1px -1px 0 #fa5, 1px -1px 0 #fa5, -1px 1px 0 #fa5;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 250px;
	border-radius: 3px !important;
}
.jumbotron.tutorial-banner {
	background-image: url("../images/ch-banner-b.png");
	background-position: center left;
	height: 200px;
}
.container {
	background-color: white;
	padding-left: 0px;
	padding-right: 0px;
	-webkit-box-shadowZ: 0 0 10px #000;
	        box-shadowZ: 0 0 10px #000;
}
.row {
	margin-right: 0;
	margin-left: 0 !important;
}
/* 
    Sometimes the sub menus get too large for the page and prevent the menu from scrolling, limiting functionality
    A quick fix is to change .side-menu to 

    -> position:absolute
    
    and uncomment the code below.
    You also need to uncomment 
    
    -> <div class="absolute-wrapper"> </div> in the html file

    you also need to tweek the animation. Just uncomment the code in that section
    --------------------------------------------------------------------------------------------------------------------
    If you want to make it really neat i suggest you look into an alternative like http://areaaperta.com/nicescroll/
    This will allow the menu to say fixed on body scoll and scoll on the side bar if it get to large
*/
/*.absolute-wrapper{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}*/

.side-menu {
	zposition: fixed;
	position: absolute;
	width: 300px;
	zheight: 100%;
	background-color: #f8f8f8;
	border-right: 1px solid #e7e7e7;
}
.side-menu .navbar {
	border: none;
	margin-bottom: 0px;
}
.side-menu .navbar-header {
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav .active a {
	background-color: transparent;
	margin-right: -1px;
	border-right: 5px solid #e7e7e7;
}
.side-menu .navbar-nav li {
	display: block;
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
}

.side-menu .navbar-nav li.my-menu-category-item {
	border-bottom: none !important;
	height: 0px;
}
.side-menu .navbar-nav li.my-menu-category-item a {
	padding-top: 3px;
}
.side-menu .navbar-nav li a {
	padding: 15px;
}
.side-menu .navbar-nav li.my-selectable-menu-item a {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	cursor: pointer;
}
a.curia-button {
	padding-top: 0px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 5px !important;
	font-size: 24px;
}
.side-menu .navbar-nav li a .glyphicon {
	padding-right: 10px;
}
.side-menu .my-menu-category-li {
	border: 0;
	margin-bottom: 0;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
}
.side-menu .my-menu-category-li .caret {
	float: right;
	margin: 9px 5px 0;
}
.side-menu .my-menu-category-li .indicator {
	float: right;
}
.side-menu .my-menu-category-li > a {
	border-bottom: 1px solid #e7e7e7;
}
.side-menu .my-menu-category-li .panel-body {
	padding: 0;
	background-color: #f3f3f3;
}
.side-menu .my-menu-category-li .panel-body .navbar-nav {
	width: 100%;
}
.side-menu .my-menu-category-li .panel-body .navbar-nav li {
	padding-left: 15px;
	border-bottom: 1px solid #e7e7e7;
}
.side-menu .my-menu-category-li .panel-body .navbar-nav li:last-child {
	border-bottom: none;
}
.side-menu .my-menu-category-li .panel-body .panel > a {
	margin-left: -20px;
	padding-left: 35px;
}
.side-menu .my-menu-category-li .panel-body .panel-body {
	margin-left: -15px;
}
.side-menu .my-menu-category-li .panel-body .panel-body li {
	padding-left: 30px;
}
.side-menu .my-menu-category-li .panel-body .panel-body li:last-child {
	border-bottom: 1px solid #e7e7e7;
}
.side-menu #search-trigger {
	background-color: #f3f3f3;
	border: 0;
	border-radius: 0;
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px 18px;
}
.side-menu .brand-name-wrapper {
	min-height: 50px;
}
.side-menu .brand-name-wrapper .navbar-brand {
	display: block;
}
.side-menu #search {
	position: relative;
	z-index: 1000;
}
.side-menu #search .panel-body {
	padding: 0;
}
.side-menu #search .panel-body .navbar-form {
	padding: 0;
	padding-right: 50px;
	width: 100%;
	margin: 0;
	position: relative;
	border-top: 1px solid #e7e7e7;
}
.side-menu #search .panel-body .navbar-form .form-group {
	width: 100%;
	position: relative;
}
.side-menu #search .panel-body .navbar-form input {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	width: 100%;
	height: 50px;
}
.side-menu #search .panel-body .navbar-form .btn {
	position: absolute;
	right: 0;
	top: 0;
	border: 0;
	border-radius: 0;
	background-color: #f3f3f3;
	padding: 15px 18px;
}
/* Main body section */
.side-body {
	margin-left: 310px;
	min-height: 600px;
}





/* small screen */
@media (max-width: 768px) {
	.jumbotron {
		border-radius: 0px !important;
		height: 180px !important;
	}
	.container-fluid {
		padding: 0px;
	}
	.side-menu {
		position: relative;
		width: 100%;
		height: 0;
		border-right: 0;
		border-bottom: 1px solid #e7e7e7;
	}
	.side-menu .brand-name-wrapper .navbar-brand {
		display: inline-block;
	}
	.side-menu .navbar {
		background-color: transparent;
	}
	
  /* Slide in animation */
  @-moz-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-webkit-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-moz-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  /* Slide side menu*/
  /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
  .side-menu-container > .navbar-nav.slide-in {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .side-menu-container > .navbar-nav {
    /* Add position:absolute for scrollable menu -> see top comment */
    zposition: fixed;
    position: relative;
    left: -300px;
    width: 300px;
    top: -8px;
    height: 100%;
    border-right: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    -moz-animation: slideout 300ms forwards;
    -o-animation: slideout 300ms forwards;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  /* Uncomment for scrollable menu -> see top comment */
  /*.absolute-wrapper{
        width:285px;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }*/
  @-moz-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-moz-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  /* Slide side body*/
  .side-body {
    margin-left: 5px;
    margin-top: 70px;
    position: relative;
    -moz-animation: bodyslideout 300ms forwards;
    -o-animation: bodyslideout 300ms forwards;
    -webkit-animation: bodyslideout 300ms forwards;
    animation: bodyslideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .body-slide-in {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  /* Hamburger */
  .navbar-toggle {
    border: 0;
    float: left;
    padding: 18px;
    margin: 0;
    border-radius: 0;
    background-color: #f3f3f3;
  }
  /* Search */
  #search .panel-body .navbar-form {
    border-bottom: 0;
  }
  #search .panel-body .navbar-form .form-group {
    margin: 0;
  }
  .navbar-header {
    /* this is probably redundant */
    zposition: fixed;
    z-index: 3;
    background-color: #f8f8f8;
  }
  /* Dropdown tweek */
  .my-menu-category-li .panel-body .navbar-nav {
    margin: 0;
  }
} /* small screen */




/*
 *	Styles for CrowdHound elements.
 */

ZZZZ.mypage .ch-category {
	font-family: Ubuntu, Sans-serif!important;
	font-size: 14px;
	padding-top: 5px;
    line-height: 1.42857143;
	color: #4b4b4b;
	font-weight: 400 !important;
    -webkit-font-smoothing: antialiased;
}

#id-generated-content-goes-here {
	margin-top: 10px;
}

.mypage .my-content-title {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: rgb(226, 80, 65);
	margin-bottom: 10px;
}

.mypage .my-debug-elementid {
	display: inline-block;
	font-family: Ubuntu, Sans-serif!important;
    color: #ccc;
	font-size: 9px;
    zfont-weight: 600;
	float: right;
	padding-right: 5px;
	padding-top: 1px;
}

.mypage .my-dropdown-menu-div {
	display: inline-block !important;
	float: right;
	margin-left: 5px;
}

.mypage .my-dropdown-menu-div button {
	font-size: 10px;
	padding: 2px;
	height: 18px;
	width: 18px;
}

.mypage .my-dropdown-menu-div .curia-button {
	display: block;
	color: #333 !important;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
}

.mypage .my-dropdown-menu-div li {
	border: none;
}

.mypage .my-dropdown-menu-div .dropdown-menu {
	left: auto;
	right: 0px;
}

.mypage .my-menu-category-title, .mypage .my-menu-topic-title {
	display: inline-block;
}

.mypage a.my-menu-add-category-button, .mypage a.my-menu-add-topic-button {
	display: block;
	padding-top: 5px;
	padding-bottom: 10px;
	font-size: 9px;
}

.my-menu-topics-dropdown {
	background-color: #f3f3f3;
}

.my-content-deleted-element-warning {
	padding: 15px;
}

.my-deleted-element-strikethrough {
	text-decoration: line-through;
}

.mypage .my-content-pane {
	padding: 5px;
	zbackground-color: blue;
}
.mypage .my-content-pane.my-readonly{
	padding-top: 300px;
	zbackground-color: blue;
}
.mypage .my-big-forum.my-readonly {
	padding-top: 0px !important;
	margin-top: 0px !important;
}
.mypage .my-big-forum.my-readonly .curia-element:first-child {
	border-top-style: none !important;
	background-color: purple;
}
.mypage .my-content-pane .curia-displayarea {
	zbackground-color: red;
	text-align: right;
	padding-bottom: 3px;
}
.mypage .my-content-pane-edit-buttons {
	margin-top: 15px;
	margin-bottom: 20px;
}

.mypage .curia-element[data-curia-type="post"] {
	zborder-top: solid 1px #ccc;
	zborder-top: solid 1px #eee;
	border-top: solid 1px #e0e0e0;
	padding-top: 8px;
	margin-bottom: 20px;
}

.mypage .my-big-forum.my-content-pane {
	zbackground-color: green !important;
	border-top: none !important;
	margin-bottom: 3px !important;
}

.mypage .my-menu-add-element-button {
	font-size: 16px;
	margin-bottom: 15px;
}

.mypage .my-menu-add-markdown-button {
	font-size: 16px;
	margin-bottom: 15px;
}

.mypage .my-footer .container {
	background-color: #634b34;
	color: #aaa;
	font-size: 12px;
	font-family: arial;
	padding: 5px;
}

.mypage .ch-description pre {
	background-color: #e7e7f7;
	font-size: 11px;
}

/* See http://stackoverflow.com/questions/16445229/prevent-automatic-line-breaks-in-a-code-tag */
.mypage .ch-description pre code {
	white-space: pre;
	word-break: normal;
	word-wrap: normal;
}

